		</div><!--#site-content-->
		<div id="load-lightbox" class="lightbox" style="display:none">
			<div class="lightboxContent">
				<div style="position:relative">
					<img src="/images/load.gif">
					<div class="title">Učitavanje<span>...</span></div>
				</div>
			</div>
		</div>
		<script>
			function loadGif(){
				document.getElementById("load-lightbox").style.display="block";
			}
		</script>
		<script>
			if(document.getElementById("menu") && document.getElementsByClassName("pageTitle")[0]){
				var menuItems	=	document.getElementById("menu").getElementsByClassName("menuItem");
				for(var i=0;i<menuItems.length;i++){
					if(menuItems[i].innerHTML.toLowerCase() == document.getElementsByClassName("pageTitle")[0].innerHTML.toLowerCase()){
						menuItems[i].classList.remove("menuItemInactive");
					}
				}
			}
		</script>
	</body>
</html>