		</div><!--#site-content-->
		<div id="load-lightbox" class="lightbox" style="display:none">
			<div class="lightboxContent">
				<div style="position:relative">
					<img src="/images/load.gif">
					<div class="title">UÄitavanje<span>...</span></div>
				</div>
			</div>
		</div>
		<script>
			function loadGif(){
				document.getElementById("load-lightbox").style.display="block";
			}
		</script>
	</body>
</html>