<div class="logOut"><a href="/logout">Izloguj se</a></div>
<div class="menu" id="menu">
	<div class="item menuItem menuItemInactive" data-name="invoices" onclick="loadGif();window.location.href='/all-invoices'">Sve Fakture</div>
	<div class="item menuItem menuItemInactive" onclick="loadGif();window.location.href='/'" data-name="new-invoice">Fakturisanje</div>
	<div class="item menuItem menuItemInactive" onclick="loadGif();window.location.href='/edit-service'">Cenovnik</div>	
</div>