<script src="/js/pdf2.js"></script>
<script src="/js/qr.js"></script>
<div style="overflow:hidden;height:1px;width:1px;">
	<canvas id="header-canvas" height="200" width="400"></canvas>
	<script>
		var headerCanvas = document.getElementById('header-canvas');
		var headerCanvasContext = headerCanvas.getContext('2d');
		var headerLogoBlob;
		function make_base(){
		  base_image = new Image();
		  base_image.src = '/images/header2.png';
		  base_image.onload = function(){
		    headerCanvasContext.drawImage(base_image, 0, 0);
		    headerLogoBlob 	=	headerCanvas.toDataURL("image/png", 1.0);
		  }
		}
		make_base();
	</script>
</div>
<div style="overflow:hidden;height:1px;width:1px;">
	<canvas id="ips-canvas" height="1000" width="1000"></canvas>
	<script>
		var ipsCanvas = document.getElementById('ips-canvas');
		var ipsCanvasContext = ipsCanvas.getContext('2d');
		var ipsLogoBlob;
		function make_base2(){
		  base_image2 = new Image();
		  base_image2.src = '/images/ips_logo2.png';
		  base_image2.onload = function(){
		    ipsCanvasContext.drawImage(base_image2, 0, 0);
		    ipsLogoBlob 	=	ipsCanvas.toDataURL("image/png", 1.0);

		  }
		}
		make_base2();
	</script>
</div>
<div style="overflow:hidden;height:1px;width:1px;">
	<div id="qr-code" style="width:300px;height:300px"></div>
</div>
<script src="/js/font.js"></script>
<script src="/js/font2.js"></script>
<script>
	var mm = 3.7795275591;

	function stringArray(string,perLine){
		var loopLength = string.length;
        var charactersPerLine	=	perLine;
        var rows	=	loopLength/charactersPerLine;
        var wholeRows	=	Math.floor(rows);
        var nalazArray	=	[];
        for(var i=0;i<wholeRows;i++){
        	var rowString	= 	string.substring(i*charactersPerLine,eval((i+1)*charactersPerLine));
        	var lastCharacterOfRow	=	rowString.substr(rowString.length - 1);
        	if(lastCharacterOfRow== " "){
        		nalazArray[i] = rowString.substring(0, rowString.length - 1) + "\n";
        	}else{
        		nalazArray[i]	=	string.substring(i*charactersPerLine,eval((i+1)*charactersPerLine))+"-\n";
        	}
        }
        nalazArray.push(string.substring(wholeRows*charactersPerLine,loopLength));
        for(var i=0;i<nalazArray.length;i++){
        	var firstLetter	=	nalazArray[i].charAt(0);
        	if(firstLetter	==	" "){
        		nalazArray[i] = nalazArray[i].substring(1);
        		if(nalazArray[i-1]){
        			nalazArray[i-1] = nalazArray[i-1].substr(0,nalazArray[i-1].length-2)+"\n";
        			//console.log(nalazArray[i-1].charAt(nalazArray[i-1].length-2));
        		}
        	}
        }

        return nalazArray
	}


	function printPdf(fakturaJson,testCase,extraInfo){
		doc = new jsPDF({
			orientation: 'p',
			unit: 'mm',
			format: 'a4',
			//putOnlyUsedFonts:true
		});

		
		pageHeight = doc.internal.pageSize.height || doc.internal.pageSize.getHeight();
		pageWidth = doc.internal.pageSize.width || doc.internal.pageSize.getWidth();
		var yPos = 12;

		//doc.getFontList("Helvetica");
	    doc.addFileToVFS("PTSans.ttf", PTSans);
	    doc.addFileToVFS("PTSansBold.ttf", PTSansBold);
	    doc.addFont('PTSans.ttf', 'PTSans', 'normal');
	    doc.addFont('PTSansBold.ttf', 'PTSans', 'bold');

	    doc.setFont('PTSans'); // set font
	    doc.getFontList("PTSans");
        doc.addImage(headerLogoBlob, 'PNG', 5, 2, 400/mm, 200/mm);
		doc.setFontType("bold");
		doc.setFontSize(16);
        doc.text("AV LAVE Veterinarska Stanica",205,yPos,'right');
        doc.setFontType("normal");
		doc.setFontSize(11);
		yPos = yPos + 5;
        doc.text("Jug Bogdanova 32, 37000 Kruševac",205,yPos,'right');
		yPos = yPos + 5;
        doc.text("063/618-142",205,yPos,'right');
		yPos = yPos + 5;
        doc.text("PIB: 103269784",205,yPos,'right');
		yPos = yPos + 5;
        doc.text("Mat. Broj: 17548824",205,yPos,'right');
		yPos = yPos + 5;
        doc.text("Broj računa: 155-35878-46",205,yPos,'right');
		yPos = yPos + 5;
        doc.text("avlave@hotmail.com",205,yPos,'right');
		yPos = yPos + 10;

        doc.setFontType("bold");
		doc.setFontSize(16);
        doc.text("Račun broj: "+fakturaJson.broj,pageWidth/2,yPos,'center');
        yPos = yPos + 5;
        doc.setFontType("normal");
		doc.setFontSize(11);

        doc.text("Datum računa: " + reshuffleDate(fakturaJson.datumFakture),5,yPos);
        yPos = yPos + 5;

        doc.setDrawColor(0);
        doc.setFillColor(99,82,223);
		doc.rect(5, yPos-3, pageWidth-10, 8, 'F');
		doc.setTextColor(249,191,32);
        doc.setFontType("bold");
		doc.setFontSize(14);
		yPos	=	yPos + 2.5;
		doc.text("Podaci o Vlasniku: ",6,yPos);

		doc.setFontSize(11);
		doc.setTextColor(0);
		yPos 	=	yPos + 7;
		var offset = 20;
		doc.text("Ime: ",5,yPos);
        doc.setFontType("normal");
		doc.text(fakturaJson.imeVlasnika,5+offset,yPos);
		yPos 	=	yPos + 5;
        doc.setFontType("bold");
		doc.text("Adresa: ",5,yPos);
        doc.setFontType("normal");
		doc.text(fakturaJson.adresaVlasnika,5+offset,yPos);
		yPos 	=	yPos + 5;
        doc.setFontType("bold");
		doc.text("Telefon: ",5,yPos);
        doc.setFontType("normal");
		doc.text(fakturaJson.telefonVlasnika,5+offset,yPos);
		yPos 	=	yPos + 5;

		doc.setDrawColor(0);
        doc.setFillColor(249,191,32);
		doc.rect(5, yPos-3, pageWidth-10, 8, 'F');
		doc.setTextColor(99,82,223);
        doc.setFontType("bold");
		doc.setFontSize(14);
		yPos	=	yPos + 2.5;
		doc.text("Podaci o životinji: ",6,yPos);

		doc.setFontSize(11);
		doc.setTextColor(0);
		yPos 	=	yPos + 7;
		var offset = 30;

		doc.setFontType("bold");
		doc.text("Ime: ",5,yPos);
        doc.setFontType("normal");
		doc.text(fakturaJson.imeZivotinje,5+offset,yPos);
		yPos 	=	yPos + 5;
		doc.setFontType("bold");
		doc.text("Vrsta/rasa: ",5,yPos);
        doc.setFontType("normal");
		doc.text(fakturaJson.vrstaRasa,5+offset,yPos);
		yPos 	=	yPos + 5;
		doc.setFontType("bold");
		doc.text("Mikročip: ",5,yPos);
        doc.setFontType("normal");
		doc.text(fakturaJson.mikrocip,5+offset,yPos);
		yPos 	=	yPos - 10;

		offset2  = 100;
		offset = 35;
		doc.setFontType("bold");
		doc.text("Pol: ",offset2,yPos);
        doc.setFontType("normal");
		doc.text(fakturaJson.pol,offset2+offset,yPos);
		yPos 	=	yPos + 5;
		doc.setFontType("bold");
		doc.text("Datum rođenja: ",offset2,yPos);
        doc.setFontType("normal");
		doc.text(reshuffleDate(fakturaJson.datumRodjenja),offset2+offset,yPos);
		yPos 	=	yPos + 5;
		doc.setFontType("bold");
		doc.text("Boja: ",offset2,yPos);
        doc.setFontType("normal");
		doc.text(fakturaJson.boja,offset2+offset,yPos);
		yPos 	=	yPos + 5;

		doc.setDrawColor(0);
        doc.setFillColor(99,82,223);
		doc.rect(5, yPos-3, pageWidth-10, 8, 'F');
		doc.setTextColor(249,191,32);
        doc.setFontType("bold");
		doc.setFontSize(14);
		if(extraInfo==1){
			yPos	=	yPos + 2.5;
			doc.text("Podaci o pregledu: ",6,yPos);

			doc.setFontSize(11);
			doc.setTextColor(0);
			yPos 	=	yPos + 7;

			doc.setFontType("bold");
			doc.text("Anamneza: ",5,yPos);
            doc.setFontType("normal");
			doc.text(stringArray(fakturaJson.anamneza,90),offset,yPos);
			yPos 	=	yPos + stringArray(fakturaJson.anamneza,90).length * 5;
			doc.setFontType("bold");
			doc.text("Klinički Nalaz: ",5,yPos);
            doc.setFontType("normal");
            
			doc.text(stringArray(fakturaJson.klinickiNalaz,90),offset,yPos);
			yPos 	=	yPos + stringArray(fakturaJson.klinickiNalaz,90).length * 5;
			doc.setFontType("bold");
			doc.text("Dijagnoza: ",5,yPos);
            doc.setFontType("normal");
			doc.text(stringArray(fakturaJson.dijagnoza,90),offset,yPos);
			yPos	=	yPos + stringArray(fakturaJson.dijagnoza,90).length * 5;
			doc.setFontType("bold");
			doc.text("Lek: ",5,yPos);
            doc.setFontType("normal");
			doc.text(stringArray(fakturaJson.lek,90),offset,yPos);
			yPos	=	yPos + stringArray(fakturaJson.lek,90).length * 5;
			doc.setFontType("bold");
			doc.text("Napomena: ",5,yPos);
            doc.setFontType("normal");
			doc.text(stringArray(fakturaJson.napomena,90),offset,yPos);
			yPos	=	yPos + stringArray(fakturaJson.napomena,90).length * 5;
			doc.setFontType("bold");
			doc.text("Preporuka: ",5,yPos);
            doc.setFontType("normal");
			doc.text(stringArray(fakturaJson.preporuka,90),offset,yPos);
			yPos	=	yPos + stringArray(fakturaJson.preporuka,90).length * 5;
		}
		//Hello

		doc.setDrawColor(0);
        doc.setFillColor(249,191,32);
		doc.rect(5, yPos-3, pageWidth-10, 8, 'F');
		doc.setTextColor(99,82,223);
        doc.setFontType("bold");
		doc.setFontSize(14);
		yPos	=	yPos + 2.5;
		doc.text("Pružene usluge: ",6,yPos);

		doc.setFontSize(11);
		doc.setTextColor(0);
		yPos 	=	yPos + 7;
		var serviceOffset1	=	100;//Kolicina
		var serviceOffset2	=	serviceOffset1+10;//Cena
		var serviceOffset3	=	serviceOffset2+19;//Osnovica
		var serviceOffset4	=	serviceOffset3+21;//PDV
		var serviceOffset5	=	serviceOffset4+17;//Cena sa PDV-om

		//kolicina, cena bez pdv, Osnovica za PDV, PDV, Cena sa PDV-om
		var xTemp	=	5;
		doc.text("Datum",xTemp,yPos);
		xTemp	=	xTemp + 20;
		doc.text("Šifra",xTemp,yPos);
		xTemp	=	xTemp + 12;
		doc.text("Usluga",xTemp,yPos);
		doc.text("Kol.",15+serviceOffset1,yPos);
		doc.text("Cena",15+serviceOffset2,yPos);
		doc.text("Osnovica",15+serviceOffset3,yPos);//dodaj za PDV u drugi red
		doc.text("PDV",15+serviceOffset4,yPos);//dodaj (20%) u drugi rad
		doc.text("Cena sa",15+serviceOffset5,yPos);//dodaj PDV-om u drugi red
		yPos = yPos + 5;
		doc.text("za PDV",15+serviceOffset3,yPos);
		doc.text("PDV-om",15+serviceOffset5,yPos);
		doc.text("(20%)",15+serviceOffset4,yPos);
		doc.setFontType("normal");
		var totalPrice	=	0;
		var totalPriceWithTax = 0;
		var totalPDV	=	0;
		for(var i=0;i<fakturaJson.usluge.length;i++){
			if(usluga){
				yPos	=	yPos + usluga.length*5;
			}else{
				yPos	=	yPos + 5;
			}
			
			var dateArray	=	fakturaJson.usluge[i].date.split("-");
			var dateString	=	Number(dateArray[2])+"."+Number(dateArray[1])+"."+dateArray[0]+".";
			xTemp = 5;
			doc.text(dateString,xTemp,yPos);
			xTemp = xTemp + 20;
			doc.text(fakturaJson.usluge[i].code.toString(),xTemp,yPos);
			xTemp	=	xTemp + 12;
			var usluga = stringArray(fakturaJson.usluge[i].name,38);
			doc.text(usluga,xTemp,yPos);
			doc.text(fakturaJson.usluge[i].quantity.toString(),15+serviceOffset1,yPos);
			doc.text(brojSaRazmacima(fakturaJson.usluge[i].price),15+serviceOffset2,yPos);
			var iznos = parseFloat(fakturaJson.usluge[i].quantity)*parseFloat(fakturaJson.usluge[i].price);
			totalPrice			=	totalPrice + iznos;
			totalPriceWithTax	=	totalPriceWithTax + iznos + iznos*0.2;
			doc.text(brojSaRazmacima(iznos),15+serviceOffset3,yPos);
			var totalWithTax = brojSaRazmacima(iznos+iznos*0.2);
			var pdv = iznos*0.2;
			totalPDV = totalPDV + pdv;
			doc.text(brojSaRazmacima(pdv),15+serviceOffset4,yPos);
			doc.text(totalWithTax,15+serviceOffset5,yPos);

		}
		yPos	=	yPos + 5;

		doc.setDrawColor(0);
        doc.setFillColor(99,82,223);
		doc.rect(5, yPos-3, pageWidth-10, 8, 'F');
		doc.setTextColor(249,191,32);
        doc.setFontType("bold");
		doc.setFontSize(12);
		yPos	=	yPos + 2.5;
		var tempString	=	"Ukupno bez PDV-a: " + brojSaRazmacima(totalPrice) +" | Ukupan PDV: "+brojSaRazmacima(totalPDV)+" | Ukupno sa PDV-om: " + brojSaRazmacima(totalPriceWithTax);
		doc.text(tempString,204,yPos,'right');
		yPos	=	yPos + 7;
		doc.setTextColor(0);
		doc.setFontType("normal");
		doc.setFontSize(12);
		doc.text("IPS Kod za instant plaćanje",200,yPos,'right');
		yPos = yPos + 5;
		//var qrInfo = "K:PR|V:01|C:1|R:155000000003587846|N:AvLave|I:RSD"+totalPriceWithTax.toFixed(0).toString()+",00|P:"+fakturaJson.imeVlasnika+"|SF:289|S:Veterinarske usluge|RO:00Nema";
		var qrInfo	=	"K:PR|V:01|C:1|R:155000000003587846|N:AvLave|I:RSD"+totalPriceWithTax.toFixed(0)+",00|P:Platilac|SF:221|S:Veterinarske Usluge|RO:00Nema";
		var qrcode = new QRCode("qr-code", {
			text: qrInfo,
			width: 300,
			height: 300,
			colorDark : "#000000",
			colorLight : "#ffffff",
			correctLevel : QRCode.CorrectLevel.H
		});
		var canvasDataURL = document.getElementById("qr-code").getElementsByTagName("canvas")[0].toDataURL("image/png", 1.0);
        doc.addImage(canvasDataURL, 'PNG',160, yPos, 150/mm, 150/mm,);
        doc.addImage(ipsLogoBlob, 'PNG', 173, yPos+13, 50/mm, 50/mm);

		yPos	=	yPos + 150/mm + 10;
		doc.setTextColor(0);
		doc.setFontType("bold");
		doc.setFontSize(14);
		doc.text(fakturaJson.imeVeterinara,pageWidth/2,yPos,'center');
		yPos	=	yPos + 5;


		doc.setFontType("normal");
		doc.setFontSize(9);
		doc.text("Preuzimanjem izveštaja, vlasnik životinje potvrđuje da su ovako iskazani anamnestički podaci tačni, da su mu predloženi svi benefiti i",5,yPos);
		yPos	=	yPos + 4;
		doc.text("potencijalni rizici izvršene dijagnostičke i terapijske procedure, kao i svi rizici od njenog nepreduzimanja. Vlasnik takođe potvrđuje da su mu",5,yPos);
		yPos	=	yPos + 4;
		doc.text("uputstva u potpunosti jasna i da će ih se pridržavati, kao i režima neophodnih kontrola",5,yPos);

		if(testCase==1){
			doc.save("Faktura.pdf");;
		}else if(testCase==2){
			window.open(doc.output('bloburl'), '_blank');
		}
	}
</script>