<%- include ("partials/header") -%>
<%- include ("partials/menu") -%>
	<script>
		var invoice	=	<%- JSON.stringify(invoice) %>;
	</script>
	<div class="pageTitle">Fakturisanje</div>
<%- include ("partials/footer") -%>