@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255,255,255);
    font-size: 16px;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block
}
audio,canvas,progress,video{
    display:inline-block;
    vertical-align:baseline
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
a{
    background-color:transparent;
    text-decoration: none;
}
a:active,a:hover{
    outline:0
}
abbr[title]{
    border-bottom:1px dotted
}
b,strong{
    font-weight:700
}
dfn{
    font-style:italic
}
h1{
    margin:.67em 0;
    font-size:2em
}
mark{
    color:#000;
    background:#ff0
}
small{
    font-size:80%
}
sub,sup{
    position:relative;
    font-size:75%;
    line-height:0;
    vertical-align:baseline
}
sup{
    top:-.5em
}
sub{
    bottom:-.25em
}
img{
    border:0;
    max-width: 100%;
}
svg:not(:root){
    overflow:hidden
}
figure{
    margin:1em 40px
}
hr{
    height:0;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box
}
pre{
    overflow:auto
}
code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}
button,input,optgroup,select,textarea{
    margin:0;
    font:inherit;
    color:inherit
}
button{
    overflow:visible
}
button,select{
    text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit]{
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],html input[disabled]{
    cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
    padding:0;
    border:0
}
input{
    line-height:normal
}
input[type=checkbox],input[type=radio]{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
    height:auto
}
input[type=search]{
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-appearance:textfield
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
fieldset{
    padding:.35em .625em .75em;
    margin:0 2px;
    border:1px solid silver
}
legend{
    padding:0;
    border:0
}
textarea{
    overflow:auto
}
optgroup{
    font-weight:700
}
table{
    border-spacing:0;
    border-collapse:collapse
}
td,th{
    padding:0
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.logOut{
    position:fixed;
    top:10px;
    right:10px;
    font-size:12px;
    background-color:rgba(254,86,25,1);
    border-radius:3px;
    border:1px solid rgb(255,255,255,1);
    box-shadow:2px 2px 4px rgba(0,0,0,0.34);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}

.logOut:hover{
    box-shadow:2px 2px 4px rgba(0,0,0,0);
    border:1px solid rgba(255,255,255,0);
}

.logOut a{
    color:rgb(255,255,255);
    display:block;
    text-decoration: none;
    padding:2px;
}

.lightbox{
    position:fixed;
    z-index:2000;
    background: rgba(255,255,255,0.8);
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.lightbox .lightboxContent{
    position:fixed;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width:80%;
    max-height:80vh;
}

#load-lightbox img{
    opacity:0.8;
}

#load-lightbox .title{
    position:absolute;
    top:20px;
    font-size:20px;
    font-weight:700;
    text-align:center;
    width:100%;
    color:rgb(99,82,223);
}

#load-lightbox .title span{
    color:rgb(249,191,32);
}

#site-background{
    background: rgb(249,191,32);
    background: linear-gradient(0deg, rgba(249,191,32,1) 26%, rgba(99,82,223,1) 100%);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    z-index: 10;
}

#site-content{
    position: relative;
    z-index: 100;
    margin-top: 45px;
    width: 100%;
    margin: 0 auto;
    max-width: 950px;
    text-align: center;
}

#site-title{
    font-size:36px;
    margin-top:10px;
    margin-bottom:5px;
    font-weight:700;
}

.pageTitle{
    font-size:26px;
    font-weight:300;
    font-style:italic;
    margin-bottom:20px;
}

.loginWrap{
    width:80%;
    margin:0 auto;
    max-width:700px;
}

.loginWrap .inputWrap{
    margin-bottom:10px;
}

.loginWrap .inputWrap .title{
    font-size:22px;
    margin-bottom:4px;
    font-weight:500;
    text-align:center;
    color:rgb(255,255,255);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}

.loginWrap .inputWrap input{
    font-size:18px;
    font-weight:300;
    text-align:center;
    color:rgb(255,255,255);
    width:100%;
    background-color:rgba(0,0,0,0.5);
    padding:15px 5px;
    border:2px solid rgba(255,255,255,1);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}


.loginWrap .inputWrap input:focus{
    outline:none;
    border:2px solid rgba(254,86,25,1);
    color:rgb(254,86,25);
}

.button{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color:#f9f9f9;
    border-radius:3px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:rgb(99,82,223);
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}

.button:hover {
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color:#e9e9e9;
    color:rgb(254,86,25);
}

.button:active {
    position:relative;
    top:1px;
}

.highlight{
    color:rgb(254,86,25) !important;
}

.loginWrap .inputWrap .button{
    width:100%;
    margin-top:25px;
    font-size:20px;
    font-weight:500;
    padding:10px 5px;
}

.sections{
    width:90%;
    margin:0 auto;
    max-width:950px;
}

.sections .sectionInactive{
    display:none;
}

.sections .section{
    width:100%;
    padding-top:30px;
    text-align:left;
    font-size:16px;
}

.menu{
    font-size:0;
}

.menu .menuItem{
    display:inline-block;
    vertical-align:middle;
    padding:5px 10px;
    font-size:22px;
    font-weight:700;
    background-color:rgba(254,86,25,0);
    color:rgb(255,255,255);
    border:1px solid rgba(255,255,255,0);
    -webkit-transition:all ease 0.2s;
    -moz-transition:all ease 0.2s;
    -ms-transition:all ease 0.2s;
    -o-transition:all ease 0.2s;
    transition:all ease 0.2s;
    cursor:pointer;
    margin-right:10px;
    box-shadow:2px 2px 4px rgba(0,0,0,0);
    border-radius:3px;
}

.menu .menuItem:hover{
    box-shadow:2px 2px 4px rgba(0,0,0,0);
    border:1px solid rgba(255,255,255,0);
}


.menu .menuItemInactive{
    background-color:rgba(254,86,25,1);
    border:1px solid rgba(255,255,255,1);
    box-shadow:2px 2px 4px rgba(0,0,0,0.34);
    color:rgb(255,255,255);
}

#new-invoice{
    padding-bottom:50px;
}

#new-invoice .inputWrapper{
    margin-bottom:10px;
}

#new-invoice .inputWrapper .note, #new-invoice .inputWrapper .inputWrap, #new-invoice .inputWrapper .error{
    display:inline-block;
    vertical-align: middle;
}

#new-invoice .inputWrapper .note{
    font-weight:600;
    margin-right:10px;
    width:200px;
}

#new-invoice .inputWrapper input{
    font-size:16px;
    font-weight:300;
    text-align:left;
    color:rgb(255,255,255);
    width:100%;
    background-color:rgba(0,0,0,0.5);
    padding:5px;
    border:1px solid rgba(255,255,255,1);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}


#new-invoice .inputWrapper input:focus{
    outline:none;
    border:2px solid rgba(254,86,25,1);
    color:rgb(254,86,25);
}

#new-invoice .inputWrapper .inputWrap{
    width:200px;
}

#new-invoice .inputWrapper .extended{
    width:350px;
}

#new-invoice .inputWrapper .title{
    background-color:rgb(255,255,255);
    padding:5px;
    color:rgb(254,86,25);
    font-weight:700;
    font-size:18px;
}



#new-invoice .inputWrapper textarea{
    font-size:16px;
    font-weight:300;
    text-align:left;
    color:rgb(255,255,255);
    width:100%;
    height:100px;
    background-color:rgba(0,0,0,0.5);
    padding:5px;
    border:1px solid rgba(255,255,255,1);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}


#new-invoice .inputWrapper textarea:focus{
    outline:none;
    border:2px solid rgba(254,86,25,1);
    color:rgb(254,86,25);
}


#services input{
    font-size:18px;
    font-weight:300;
    text-align:left;
    color:rgb(255,255,255);
    width:100%;
    background-color:rgba(0,0,0,0.5);
    padding:7px 3px;
    border:1px solid rgba(255,255,255,1);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}


#services input:focus{
    outline:none;
    border:1px solid rgba(254,86,25,1);
    color:rgb(254,86,25);
}

.services .serviceWrap, .services .header{
    font-size:0px;
    margin-bottom:10px;
}

.services .serviceWrap .serviceName, .services .serviceWrap .serviceQuantity, .services .serviceWrap .servicePrice, .services .serviceWrap .serviceDelete, .services .serviceWrap .serviceDate, .services .serviceWrap .serviceCode{
    display:inline-block;
    vertical-align:middle;
    font-size:14px;
    padding:0px 3px;
}

.services .header .name, .services .header .quantity, .services .header .price, .services .header .date, .services .header .code{
    display:inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight:600;
    padding:0 3px;
}

.services .serviceWrap .serviceName, .services .header .name{
    width:400px;
}

.services .serviceWrap .serviceQuantity, .services .header .quantity{
    width:100px;
}

.services .serviceWrap .servicePrice, .services .header .price{
    width:150px;
}

.services .serviceWrap .serviceDate, .services .header .date{
    width:140px;
}

.services .serviceWrap .serviceCode, .services .header .code{
    width:50px;
}

.services .serviceWrap .serviceDelete{
    width:100px;
    text-align:right;
}




























